@{
    ViewBag.Title = "Klar til betaling";
}

<h2>Nu mangler du kun betaling</h2>
<p>
Vi har modtaget dine oplysninger og mangler nu blot betalingen. Den foregår vha.billetsystemet.
</p>
<p>
Når du klikker på link'et herunder sendes du til billetsiden, hvor du bedes købe en billet til håndboldskolen.
</p>
<p>Bemærk at din tilmelding ikke er gældende før betaling er foretaget.</p>

<a href="https://ribeesbjerg.www2.dk/epay_unseated.php?ID=35">Køb billet til håndboldskolen</a>        
<br /><br />

