@import url("navigation.css");
@import url("modules.css");

/************************* RESET **********************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

/************************* HTML BODY **********************/

html {
	height: 100%;
	background-image: url(Images/html_bg.gif);
}

body {
	height: 100%;
	background-image: url(Images/body_bg.gif);
	background-position: top;
	background-repeat: repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em;
	color: #333333;
}

/************************* STRUCTURE **********************/

#outer_container {
	width: 960px;
	padding: 20px;
	margin: 0 auto;
	background-image: url(/web/grafik/outer_container_bg.png);
}

#topbanner {
	width: 940px;
	padding: 10px 0 0 20px;
	background-image: url(/web/grafik/topbanner_bg.gif);
	background-repeat: no-repeat;
	background-position: top left;
	background-color: #FFF;
}

#container {
	width: 940px;
	padding: 10px;
	background-color: #FFF;
	position: relative;
}

#flash {
	background: url(/web/grafik/ribeesbjerghh-bg.jpg) no-repeat center top;
	width: 940px;
	height: 240px;
	z-index: 1000;
}

#mainnav {
	width: 780px;
	height: 34px;
	background-image: url(/web/grafik/mainnav2_bg.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 20px;
	top: 186px;
	z-index: 10000000;
}

#subnav {
	width: 760px;
	height: 22px;
	background-image: url(/web/grafik/subnav_bg.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 30px;
	top: 220px;
	z-index: 10000000;
}

#column1 {
	width: 280px;
	padding: 17px 0 0 0;
	margin: 0 20px 0 0;
	float: left;
}

	#forsidefeed {
		margin: 20px 0 19px 0;
		border: 1px #dfdfdf solid;
		position: relative;
	}
	
	#forside_annonce_column1 {
		margin: 7px 0 0 0;
	}
	
		#forside_annonce_column1 img {
			width: 258px;
			height: 148px;
			margin: 7px 0 0 0;
			padding: 10px;
			border: 1px solid #cdcdcd;
		}

#column2 {
	width: 400px;
	padding: 17px 0 0 0;
	margin: 0 20px 0 0;
	float: left;
}

	#stor_nyhed {
		width: 498x;
		height: 347px;
		margin: 7px 0 28px 0;
		padding: 1px;
		background-image: url(/web/grafik/bg_stor-nyhed.gif);
		background-repeat: no-repeat;
		background-position: 1px 286px;
		border: 1px solid #DFDFDF;
		position: relative;
	}
	
	#aktuelt {
		width: 375px;
		height: 328px;
		padding: 15px 10px 0 15px;
		background-image: url(/web/grafik/aktuelt_forside_bg.gif);
		background-repeat: no-repeat;
		position: relative;
	}
	
#column3 {
	width: 220px;
	padding: 24px 0 0 0;
	float: left;
}

#column3_underside {
	width: 220px;
	padding: 4px 0 0 0;
	float: left;
}

	#naste_kamp {
		width: 220px;
		height: 75px;
		padding: 25px 0 0 0;
		background-image: url(/web/grafik/naestekamp_bg.jpg);
		background-repeat: no-repeat;
		position: relative;
		line-height: 1.4em;
	}
	
	#hovedsponsor {
		margin: 20px 0 20px 0;
	}
	
	#nyhedsbrev {
		width: 220px;
		margin: 10px 0 0 0;
	}
	
	#forside_annonce_column3{
		margin: 10px 0 0 0;
	}	
		#forside_annonce_column3 .header{
			margin: 0;
		}	
		#forside_annonce_column3 img{
			width: 200px;
			height: 150px;
			margin: 10px 0 0 0;
			padding: 9px;
			/**border: 1px solid #cdcdcd;**/
		}
		
		#banner2, #banner3 {
			margin-top: 15px;
			padding: 9px;
			border: 1px solid #cdcdcd;
		}

#outer_outer_content {
	width: 940px;
	margin: 25px 0 0 0;
	background-image: url(/web/grafik/outer_content_bg.gif);
	background-repeat: repeat-y;
	float: left;
}

#outer_content {
	width: 940px;
	background-image: url(/web/grafik/content_bg.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
	float: left;
}

	#content {
		width: 698px;
		padding: 1px;
		margin: 5px 20px 0 0;
		float: left;
		position: relative;
	}
	
		#breadcrumb {
			width: 680px;
			height: 10px;
			padding: 0 5px 0 15px;
			background-image: url(/web/grafik/header_bg2.gif);
			background-repeat: repeat-x;
			background-position: 0 9px;
			background-color: #FFF;
			position: absolute;
			top: -10px;
			left: 0;
		}
		
		#breadcrumb span{ 
			padding: 0;
			position: absolute;
			background-color: #FFF;
			top: 0;
			left: 15px;
		}		
		
		#content #text {
			margin: 20px 0 0 0;
			padding: 0 18px 0 18px;
			background-image: url(/web/grafik/h1_bg.gif);
			background-repeat: repeat-x;
		}
			
			#content #text ul {
				padding-left: 30px;
			}
			
#footer {
	width: 905px;
	height: 110px;
	margin: 25px 0 0 0;
	padding: 35px 20px 0 15px;
	background-image: url(/web/grafik/footer_bg.gif);
	background-repeat: no-repeat;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color: #909090;
}
	
	#footer .sponsorer{
		width: 675px;
		float: left;
	}
	
	#footer .sponsorer p img{
		margin: 10px 15px 0 0;
		float: left;
	}
	
	#footer .vjm {
		width: 180px;
		padding: 0 0 0 30px;
		float: left;
	}
	
	#footer .vjm a {
		margin: 10px 0 0 0;
		float: left;
	}
	
/************************* TEXT **********************/

h1, h2, h3, h4, h5, h6 {
	line-height: normal;	
}

h1 {
	height: 40px;
	line-height: 40px;
	margin: 0 0 15px 0;
	font-size: 15px;
}

h2 {
	font-size: 13px;
}

h3 {
	font-size: 11px;
}

p {
	margin: 9px 0 9px 0;
}

#naste_kamp p {
	margin: 0;
}

.header2 {
	width: 250px;
	height: 20px;
	padding: 0 0 0 5px;
	background-image: url(/web/grafik/header_bg2.gif);
	background-repeat: repeat-x;
	background-position: 0 9px;
	background-color:#FFF;
	position: absolute;
	top: -10px;
	left: 0;
}
	
.header2 span{ 
	padding: 3px 5px 0 5px;
	background-color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #666;
	position: absolute;
	top: 0;
	left: 20;
}
		
.header3 {
	width: 395px;
	height: 10px;
	padding: 0 0 0 5px;
	background-image: url(/web/grafik/header_bg2.gif);
	background-repeat: repeat-x;
	background-position: 0 9px;
	background-color:#FFF;
	position: absolute;
	top: -10px;
	left: 0;
}

.header3 span{ 
	padding: 3px 10px 0 10px;
	background-color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #666;
	position: absolute;
	top: 0;
	left: 20;
}

div.header {
	padding: 0 0 0 10px;
	margin: 0 0 5px 0;
	background-image: url(/web/grafik/header_bg.gif);
	background-position: 3px;
	background-repeat: repeat-x;
}

div.newsletter_header {
	padding: 0 0 0 10px;
	margin: 0;
	background-image: url(/web/grafik/header_bg.gif);
	background-position: 3px;
	background-repeat: repeat-x;
}

div.header span, div.newsletter_header span {
	padding: 0 5px 0 5px;
	background-color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	color: #666;	
	
}

div.header span.small_blue, div.newsletter_header span.small_blue {
	font-size: 10px;
	color: #2e3992;
}

div.header span.small{
	font-size: 10px;	
}

/************************* LINKS **********************/

a {
	color: #84888b;
}

a:hover {
	color: #000000;
}

#naste_kamp a {
	width: 220px;
	height: 100px;
	background-color: #FFF;
	filter:alpha(opacity=0);   
	-moz-opacity: 0;   
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	text-indent: -9999em;
}

a.gestus {
	border: 1px #cdcdcd solid;
	display: block;
	margin: 9px 0 0 0;
	padding: 5px 0 5px 0;
	text-align: center;
	width: 220px;
}

/************************* TABLES **********************/

#naste_kamp td.kampdato {
	color: #fff;
	font-size: 10px;
}

/***************************************** FORMS *******/

#nyhedsbrev form {
	margin: 10px 0 5px 0;
	float: left;
}

#nyhedsbrev form legend {
	display: none;
}

#nyhedsbrev .txtfield {
	width: 135px;
	height: 16px;
	padding: 2px 0 0 10px;
	border: 1px solid #999;
	font-size: 10px;
	color: #a3a2a2;
	float: left;
}

#nyhedsbrev .btn {
	margin: 0 0 0 1px;
	float: left;
}

/************************* OTHERS **********************/

.logo {
}

.clear {
	clear: both;
}

.noshow {
	display: none;
}

span.annonceID {
	border: 1px solid #CDCDCD;
	display: block;
	margin: 10px 0 10px 0;
	padding: 9px;
}

#banner_bund_ {
	border:1px solid #DFDFDF;
	padding:2px;
	width:728px;
	height:90px;
	margin:5px auto;
}

#banner_bund {
	border:1px solid #DFDFDF;
	padding:2px;
	width:936px;
	height:90px;
	margin:5px auto;
	text-align: center;
}

#banner_top2 {
	border:1px solid #DFDFDF;
	padding:0;
	width:914px;
	height:90px;
	margin:-1px auto 0 auto;
	text-align: center;
}

#banner_hojre_ {
	border:1px solid #DFDFDF;
	padding:2px;
	width:125px;
	height:125px;
	margin:5px auto;
}

#banner_hojre {
	border:1px solid #cdcdcd;
	width: 218px;
	text-align: center;
	height: 150px;
	display:table-cell; 
	vertical-align:middle;
	margin: auto;
}


.vjm2_ {
	width: 185px;
	height: 90px;
	margin: 10px 0 0 0;
	padding: 15px 20px 0 15px;
	background: url(/web/grafik/footer_bg.gif) no-repeat right;
	font-family: Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	color: #909090;
}

.vjm2 {
	width: 220px;
	border: 1px solid #cdcdcd;
	display: block;
	text-align: center;
	margin: 9px 0 0;
	height: 32px;
	padding: 5px 0;
}

#forside_annonce_column3 #banner_hojre img {
	margin:0;
	padding:0;
}
