/********************************** MAIN NAVIGATION LEVEL 1 **********************************/

#mainnav ul {
	list-style: none;
}

#mainnav li {
	float: left;
	padding: 2px 0 2px 0;
	margin: 0 5px 0 5px;
}

#mainnav li a {
	line-height: 30px;
	padding: 0 9px 0 9px;
	float: left;
	color: #FFF;
	text-decoration: none;
}

#mainnav li a:hover, #mainnav li a.mainnav_active1 {
	line-height: 30px;
	padding: 0 9px 0 9px;
	background-image: url(/web/grafik/mainnav_hover2.gif);
	background-repeat: repeat-x;
	float: left;
	color: #FFF;
	text-decoration: none;
}

/********************************** SUB NAVIGATION LEVEL 1 **********************************/

#subnav ul {
	list-style: none;
}

#subnav li {
	float: left;
}

#subnav li a {
	line-height: 20px;
	padding: 0 9px 0 9px;
	float: left;
	color: #000;
	text-decoration: none;
	font-size: 10px;
}

#subnav li a.subnav_active1 {
	line-height: 20px;
	padding: 0 9px 0 9px;
	float: left;
	color: #000;
	text-decoration: none;
	font-size: 10px;
	font-weight: bold;
}

/********************************** SUB NAVIGATION LEVEL 2 **********************************/

#subnav ul ul {
}

#subnav li li {
}

#subnav li li a {
}

#subnav li li a:hover {
}

#subnav li li a.subnav_active2 {
}

/********************************** SUB NAVIGATION LEVEL 3 **********************************/

#subnav ul ul ul {
}

#subnav li li li {
}

#subnav li li li a {
}

#subnav li li li a:hover {
}

#subnav li li li a.subnav_active3 {
}

/********************************** SITEMAP LEVEL 1 **********************************/

#sitemap ul {
	list-style: none;
}

#sitemap li {
}

#sitemap li a {
}

#sitemap li a:hover {
}

/********************************** SITEMAP LEVEL 2 **********************************/

#sitemap ul ul {
}

#sitemap li li {
}

#sitemap li li a {
}

#sitemap li li a:hover {
}

/********************************** SITEMAP LEVEL 3 **********************************/

#sitemap ul ul ul {
}

#sitemap li li li {
}

#sitemap li li li a {
}

#sitemap li li li a:hover {
}

/********************************** SITEMAP LEVEL 4 **********************************/

#sitemap ul ul ul ul {
}

#sitemap li li li li {
}

#sitemap li li li li a {
}

#sitemap li li li li a:hover {
}



/***************************************** PAGING *****************************************/

.paging {
	list-style: none;
}

.paging li {
	float: left;
}

.paging li.selected {
	padding: 2px 3px 2px 3px;
	margin: 0 3px 0 0;
	float: left;
	border: 1px #e5e5e5 solid;
}

.paging li a {
	padding: 2px 3px 2px 3px;
	margin: 0 3px 0 0;
	float: left;
	border: 1px #e5e5e5 solid;
	text-decoration: none;
}

/********************************** BREAD CRUMBS **********************************/

#breadcrumb ul {
	list-style: none;
	display:inline;
}


#breadcrumb ul li {
	padding: 0 5px 0 5px;
	float: left;
	color: #818181;
	font-size: 10px;
}

#breadcrumb ul li a {
	padding: 0 12px 0 0;
	color: #c0c0c0;
	font-size: 10px;
	text-decoration: none;
	background-image: url(/web/grafik/breadcrumb_arrow.gif);
	background-repeat: no-repeat;
	background-position: right 4px;
	float: left;
}
